@font-face {
    font-family: 'Montserrat-Bold',sans-serif;
    src:  url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat-Regular',sans-serif;
    src:  url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Yellowtail';
    src: url('../fonts/Yellowtail-Regular.ttf');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

body {    
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;    
    width: 100%;
    height: 100%;
    min-height: 100%;
}
.navbar ul,.ftr ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar ul li a{
    display: block;
    color: white;
    font-family: 'Montserrat-Bold',sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;    
    padding-bottom:  20%;
    text-decoration: none;
    letter-spacing: 0.17em;
    outline: none;
}
.navbar {    
    padding-top: 3%;
    z-index: 2;
    position: fixed;
}
.navbar-smooth {    
    background: rgba(0,0,0,0.38);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    overflow: hidden;
}
.ftr ul li a {
    display: block;
    color: white;
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 1.071em;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.155em;
    outline: none;
}
.navbar ul li a:not(.md-button),.ftr ul li a:not(.md-button) {
    color: white;
}
.navbar ul li a:not(.md-button):hover,.ftr ul li a:not(.md-button):hover {
    color: white;
}
.navbar ul li a.active  {
    border-bottom: 5px solid bisque;    
}
.home {
    background: url('../images/bg-banner.jpg') no-repeat; 
    background-size: 100% 100%;
    min-height: 100%;
    height: 700px;
    position: relative;
    transition: background .3s ease-in;
    -webkit-transition: background .3s ease-in;
    -moz-transition: background .3s ease-in;         
}
.ftr {
    background: #323232 ;
    padding-top: 5%;
    height: 35%;
}
.aftrNav {
    padding-top: 100px;
    height: 100%;
}
.aftrNav img {
    width: 50%;   
}
.mkH3 {
    color:  #FEFEFE;
    font-family: Montserrat-Bold,sans-serif;
    font-size: 3.357em;
    font-weight: 600;
    line-height: 2.33em;
    letter-spacing: 0.17em;
    margin-bottom: -70px;
}
.stbh {
    color:  #C5A569;
    font-size: 5.0em;
    font-weight: 500;
    font-family: 'Yellowtail';
    line-height: 2.791em;
    margin:-50px 0;
}
.txtp {
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    line-height: 1.5em;
    letter-spacing: 0.05em;
}
.explore a {
    padding:16px 85px;
    border: 1.7px solid white;
    border-radius: 2%;
    text-decoration: none;
    color:  #FEFEFE;
    font-family: 'Montserrat-Bold',sans-serif;
    font-size: 1.286em;
    font-weight: 600;
    letter-spacing: 0.15em
}
.explore a:hover {
    color: white;
    background: rgba(151, 151, 151, 1);
}
.is_rltv {
    position: relative;
    width: 100%;
    height: 100%;
}
#contact,#about,#brands,#events {
    background: #FFEECF;
    width: 90%;
    min-height: 100%;
    top: -4%;
    bottom: -4%;
    left: 5%;
    right: 5%;
    position: absolute;
    border-radius: 0.5%;
    z-index: 1;
}
.gtkh,.our,.get_in {
    color:  #404040;
    letter-spacing: 0.25em;
    line-height: 1.25em;
    font-family: 'Montserrat-Bold',sans-serif;
    font-size: 1.786em;
    font-weight: 600;
}
.abth,.brndh,.touch,.events{
    font-family: 'Yellowtail';
    font-size: 4.285em;
    font-weight: 500;
    line-height: 2.79em;
    color:  #C5A569;    
}
.abth {
    margin: -92px 0;
}
.brndh,.events {    
    margin: -92px 0px -30px; 
}
.touch {
    margin: -86px 0px ;
}
.txtabt p{
    font-family: Lato-Regular;
    font-size: 1.5em;
    color: #727272;
    font-weight: 500;
    line-height: 1.5em;
    text-align: justify;
}
.txtBrnds p {
    font-family: Lato-Regular;
    font-size: 1.5em;
    color: #757575;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
    padding-right: 15px;
    margin-top: -20px;
}
.front {
    left: 0;
}
.brdrTop {
    border-top: 2px solid rgba(151, 151, 151, 0.2);
}
.brdrLeft {
    border-left: 1px solid rgba(151, 151, 151, 0.3);
}
.brdrRight {
    border-right: 1px solid rgba(151, 151, 151, 0.3);
}
.brndImg {
    cursor: pointer;
}
.evnt_lst_h h4{
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 3.143em;
    margin: 0;
    padding: 0;
    line-height: 2.208em;
    float: left;
    height: 100%;
}
.evnt_lst_h {
    height: 100%;
    margin-top: -3%;
}
.evnt_lst_sub_h,.dialog_header span {
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 1em;
    font-weight: 600;
    color:  #967E50;
    letter-spacing: 0.5em; 
}
.icon_and_time {
    float: right;
    height: 100%;
    margin-top: 3.5%;
}
.icon-schedule {
    font-size: 32px;
    color: rgba(114, 114, 114, 1);
    vertical-align: bottom;
}
.time {
    color: rgba(151, 151, 151, 0.7);
    font-size: 1.357em;
    font-weight: 600;
}
.frame {    
    width: 98%;
    height: 400px;
    padding-left: 3%;
    margin: 0;
    overflow: hidden;
}
.frame .slidee {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;   
}
.frame .slidee li {    
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
    height: 125px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);    
    float: left;
}
.frame .slidee li:last-child {
    border: 0px;
}
.scrollbar {     
    width: 4px;
    height: 400px;
    background: #ccc;
    line-height: 0;
    margin-right: 0.4%;
    display: none;
}
.scrollbar .handle {
    width: 100%;
    height: 100px;
    background: rgba(117, 117, 117, 0.7);
    cursor: pointer;
}
.scrollbar .handle .mousearea {
    position: absolute;
    top: 0;
    left: -10px;
    width: 22px;
    height: 100%;
}
.dlgFrame {
    width: 100%;
    min-height: 150px;
    max-height: 450px; 
    padding: 0;
}
.dlgFrame .dlgSlidee {
    margin: 0;
    padding: 0; 
    height: 100%; 
    list-style: none;
/*    overflow: scroll;*/
}
.dlgFrame .dlgSlidee li { 
    float: left; 
    margin: 0 5px 0 0; 
    padding: 0;
    min-width: 150px;
    max-width: 450px;
    height: 100%;
}
.dlgFrame .dlgSlidee li img{
    width: 100%;
}
.width_100 {
    width: 100%;
}
.bg-white {
    background: white;
}
.wrapp {
    width: 100%;    
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.submit {
    border: 2px solid  #404040;
    padding: 6.5%;
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 1.071em;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: 0.5em;
    color:  #404040;
}
md-input-container label:not(.md-no-float):not(._md-container-ignore) {
    padding-bottom: 2%;
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 0.786em;
    font-weight: 600;
    letter-spacing: 0.2em;
    color:  rgba(0, 0, 0, 0.38);
}
md-input-container {
    height: 60px;
}
.md-input-container .md-input-messages-animation {
    line-height: 24px;
}
.wao {
    position: absolute;
    background: white;
    left: 95%;
    top: 5%;
    width: 100%;
    padding-bottom: 5%;
}
.wao ul{
    font-family: 'Yellowtail';
    font-size: 2.857em;
    line-height: 2.791em;
    color:  #404040;
    transform: rotate(354.0deg);
    list-style: none;
}
.wao ul li:before {
    content: "";
    line-height: 1em;
    width: 8px;
    height: 8px;
    background-color: green;
    float: left;
    margin: 44px -10%;
    border-radius: 50%;
}
.wao span {
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 0.6875em;
    font-weight: 600;
    line-height: 0.75em;
    color:  rgba(151, 151, 151, 1);
}
.wao hr {
    width:20%;
    margin-top: -10%;
}
.cursor_point {
    cursor: pointer;
}
.outline {
    outline: none;
}
md-dialog {
    width: 100%;height: 100%!important;
}
.dialog_header h4 {
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 3.143em;
    line-height: 2.21em;
    margin: -24px -5px -10px;
}
.dialog_text p {
    font-family: 'Lato-Regular';
    font-size: 1.357em;
    color: #757575;
    font-weight: 500;
    line-height: 1.5em;
    text-align: justify;
}
.limited_seats ul{
    font-family: 'Lato-Regular'; 
    font-size: 1.357em;
    line-height:0.958em;
    color: #757575;
    list-style: none;
}
.limited_seats ul li:before{
    content: "";
    line-height: 1em;
    width: 8px;
    height: 8px;
    background-color: green;
    float: left;
    margin: 5px -20px;
    border-radius: 50%;
}
#btm_drdr {
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
}
.register a{
    padding:20px 80px;
    border: 2px solid white;
    border-radius: 4px;
    text-decoration: none;
    color:  #404040;
    border: 2px solid  #404040;
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 1.071em;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: 0.15em
}
.register a:hover {
    color: white;
    background: rgba(151, 151, 151, 1);
    
}
.social_pics {
    padding: 7% 0;
    margin-right: -8px;
}
.social_pics .fb,.social_pics .twt {
    width: 75px;
    height: 75px;
}
.fb img,.twt img {
    width: 36px;
}
.fb {
    background: url('../images/icn-facbook.png');
}
.twt {
    background: url('../images/icn-twitter.png');
}
.gallery_dialog {
/*    position: relative;*/
    width: 100%;
    min-height: 50%;
    overflow: hidden;
}
.gallery_dialog h1{
    font-size: 3.5em;
}
.md-dialog-container {
    height: 1300px !important;
    top:2700px !important;
/*    overflow: hidden !important;*/
}
.md-content-overflow ,md-dialog-content{
/*    overflow: hidden !important;*/
}
.bg-seperator-1 {
    background: url('../images/bg-seperator-1.png') no-repeat;
}
.bg-seperator-2 {
    background: url('../images/bg-seperator-2.png') no-repeat;
}
.bg-seperator-3 {
    background: url('../images/bg-seperator3.png') no-repeat;
}
.bg-seperator-1,.bg-seperator-2,.bg-seperator-3 {   
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}
#contact form ,.getin_touch{
    padding: 5%;
}
.img-beer-event img{
    margin-left: -17px;
}
.my-map-canvas iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.flip {    
    width: 100%;
    margin: 0 auto;
}
#contact {
    background: none;
}
@media all and (max-width:600px){
    .home {
        background: url('../images/bg-image.png') no-repeat; 
        background-size: 100% 100%;
        min-height: 100%;
        padding-bottom: 1%;
        -webkit-transition: background .3s ease-in;
        -moz-transition: background .3s ease-in;
        transition: background .3s ease-in;
        overflow: hidden;
    }
    .home .navbar {    
        padding-top: 3%;
        z-index: 2;
    }
    .aftrNav {
        padding-top: 70px;
    }
    .aftrNav img {
        width: 65%;   
    }
    .mkH3{
        font-size: 1.785em;
        line-height: 1.25em;
        margin-bottom: -20px;
    }
    .stbh {
        font-size: 3.4em;
        line-height: 2.79em;
        margin: -40px 0;
    }
    .txtp {
        font-size: 1.071em;
        line-height: 1.25em;
    }
    .explore a {
        padding: 10px 50px;
        font-size: 1em;
    }
    .gtkh, .our, .get_in {
        font-size: 1.6em;
        line-height: 1.25em;
    }
    .abth, .brndh, .touch, .events {
        font-size: 3.5em;
        line-height: 2.79em;
    }
    .abth {
        margin: -80px 0;
    }
    .txtabt p {
        font-size: 1em;
        line-height: 1.3em;
    }
    #brands {
        padding: 6% 0;
    }
    .txtBrnds p {
        font-size: 1em;
        line-height: 1.3em;
        padding-right: 0px;
    }
    .our {
        margin-top: -2%;
    }
    .brndh, .events {
        margin: -80px 0px -30px;
    }
    .flip.brdrTop, .flip.brdrLeft, .frame.brdrRight {
        border: 0px;
    }
    .md-datepicker-input {
        display: none;
    }
    .md-datepicker-triangle-button.md-button.md-icon-button {
        display: none;
    }
    .evnt_lst_h h4{
        font-size: 1.5em;
    }
    .icon-schedule {
        font-size: 18px;
        vertical-align: middle;
    }
    .time {
        font-size: 0.85em;
    }
    .evnt_lst_sub_h {
        font-size: 0.85em;
    }
    .frame, .scrollbar{
        height: 300px;
    }
    .frame .slidee li, .scrollbar .handle {
        height: 100px;     
    }
    .touch {
        margin: -70px 0px;
    }
    .wao {
        top: 10%;
        left: -3%;
        z-index: 1;
        width: 60%;
    }
    .wao ul {
        font-size: 1.857em;
    }
    .wao ul li:before {
        margin: 30px -10%;
    }
    .submit {
        padding: 2.5%;
    }    
    .header {               
        position: fixed;
        width: 100%;
        z-index: 3;
    }
    .header ul{
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: rgba(255, 238, 207, 1);
    }
    .header ul li a {
        font-family: 'Montserrat-Bold',sans-serif;
        display: block;
        padding: 15px 0;        
        text-decoration: none;
        text-align: left;
        text-indent: 5%;
        color: brown;
        font-weight: 600;
        font-size: 1.2em;
    }
    .header li a:hover,
    .header .menu-btn:hover {
        background-color: #f4f4f4; 
    }
    .header .logo {
        width: 70px;
        height: 50px;
        padding: 10px;
    }
    .ftr .logo {
        width: 70px;
        height: 50px;
    }
    .header .menu {
        clear: both;
        max-height: 375px;
        display: none;
    }   
    .icon-menu {
        color: white;             
        position: absolute;
        top: 20px;
        right: 30px;
        cursor: pointer;        
    }
    .md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
        background-color: rgba(151, 151, 151, 0.4);
        color: #8B8B8B;
    }
    .md-calendar-date-selection-indicator {
        color: #8B8B8B;
    }
    .md-calendar-scroll-mask,.md-calendar.md-default-theme, .md-calendar,.md-default-theme .md-calendar-day-header, .md-calendar-day-header {
        background: rgba(255, 238, 207, 1) !important;
    }
    .md-calendar tbody, .md-calendar td, .md-calendar tr {
        height: 48px;
    }
    .md-calendar-day-header th {
        height: 70px;
    }
    .map_pdt {
        position: relative;       
    }
}
@media all and (min-width:600px) and (max-width:960px) {
    .ftr ul {
        margin-left: -30px;
    }
    .ftr .logo {
        width: 60%;
        height: 25%;
    }
    .home .logo {
        width: 70%;
        height: 12%;
    }
    .home ul li a,.ftr ul li a {
        font-size: 0.837em;
        letter-spacing: 0.1em;
    }
    .mkH3 {
        font-size: 2.142em;
        line-height: 1.66em;
        margin-bottom: -13px;
    }
    .stbh {
        font-size: 3.2em;
        line-height: 2.66em;
    }
    .txtp {
        font-size: 1.3em;
    }
    .explore a {
        padding: 12px 70px;
        font-size: 1.12em;
    }
    .abth {
        margin: -78px 0;
        font-size: 3.5em;
    }
    .gtkh, .our, .get_in {
        font-size: 1.5em;
    }
    .brndh,.events {    
        margin: -78px 0px -30px;
        font-size: 3.5em;
    }
    .touch {
        margin: -68px 0px ;
        font-size: 3.5em;
    }
    .txtBrnds p {
        font-size: 1.3em;
    }
    .txtabt p {
        font-size: 1.15em;
        line-height: 1.4em;
    }
    .wao ul {
        font-size: 1.857em;
    }
    .wao ul li:before {
        margin: 30px -10%;
    }
    .evnt_lst_h h4{
        font-size: 1.7em;
    }
    .icon-schedule {
        font-size: 20px;
        vertical-align: middle;
    }
    .time {
        font-size: 0.9em;
    }
    .evnt_lst_sub_h {
        font-size: 0.85em;
    }
    .dialog_header h4 {
        font-size: 1.7em;
        margin: -20px 0px -15px;
    }
    .limited_seats ul {
        font-size: 1em;
    }
    .dialog_text p {
        font-size: 1em;
        line-height: 1.38em;
    }
}
@media all and (min-width:961px) and (max-width:1280px) {
    body {
        font-size: 12px;
    }
    .mkH3 {
        margin-bottom: -50px;
    }
    .abth {
        margin: -82px 0;
    }
    .brndh,.events {    
        margin: -83px 0px -30px; 
    }
    .touch {
        margin: -72px 0px ;
    }
    .txtabt p {
        font-size: 1.5em;
        line-height: 1.4em;
    }
}


